# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text eol=lf
*.svelte text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf

# Scripts
*.sh text eol=lf

# Lock files
package-lock.json binary
bun.lock binary
pnpm-lock.yaml binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
